USE [demo]
GO
/****** Объект:  Table [dbo].[Counterparties]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counterparties](
	[CounterpartyId] [varchar](9) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Inn] [varchar](12) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[IsSalesman] [bit] NOT NULL,
	[IsBuyer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CounterpartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CustomerOrderItems]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrderItems](
	[CustomerOrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerOrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CustomerOrders]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[CustomerOrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ExecutorId] [varchar](9) NOT NULL,
	[CustomerId] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Materials]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SpecificationMaterials]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationMaterials](
	[SpecificationMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[SpecificationId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Specifications]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[SpecificationId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](10, 3) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[ManufacturerId] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[FailedAttempts] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Counterparties] ([CounterpartyId], [Name], [Inn], [Address], [Phone], [IsSalesman], [IsBuyer]) VALUES (N'000000001', N'ООО "Поставка"', NULL, N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Counterparties] ([CounterpartyId], [Name], [Inn], [Address], [Phone], [IsSalesman], [IsBuyer]) VALUES (N'000000002', N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, 0)
INSERT [dbo].[Counterparties] ([CounterpartyId], [Name], [Inn], [Address], [Phone], [IsSalesman], [IsBuyer]) VALUES (N'000000003', N'ООО "Ромашка"', N'4140784214', N'г. Омск, ул. Строителей, 294', N'+79882584546', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[CustomerOrderItems] ON 

INSERT [dbo].[CustomerOrderItems] ([CustomerOrderItemId], [CustomerOrderId], [ProductId], [Quantity], [Unit], [Price]) VALUES (1, 1, 5, CAST(8.000 AS Decimal(10, 3)), N'шт', CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[CustomerOrderItems] ([CustomerOrderItemId], [CustomerOrderId], [ProductId], [Quantity], [Unit], [Price]) VALUES (2, 1, 7, CAST(7.000 AS Decimal(10, 3)), N'шт', CAST(47.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[CustomerOrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerOrders] ON 

INSERT [dbo].[CustomerOrders] ([CustomerOrderId], [OrderNumber], [OrderDate], [ExecutorId], [CustomerId]) VALUES (1, 3, CAST(N'2025-06-07' AS Date), N'000000011', N'000000012')
SET IDENTITY_INSERT [dbo].[CustomerOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialId], [Name], [Unit], [Price]) VALUES (1, N'Изюм', N'кг', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[Materials] ([MaterialId], [Name], [Unit], [Price]) VALUES (2, N'Масло сливочное', N'кг', CAST(124.00 AS Decimal(10, 2)))
INSERT [dbo].[Materials] ([MaterialId], [Name], [Unit], [Price]) VALUES (3, N'Молоко нормализованное', N'кг', CAST(34.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Unit], [Price]) VALUES (1, N'Батон нарезной', N'шт', CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductId], [Name], [Unit], [Price]) VALUES (2, N'Булочка с изюмом', N'шт', CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductId], [Name], [Unit], [Price]) VALUES (3, N'Булочка с корицей', N'шт', CAST(35.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecificationMaterials] ON 

INSERT [dbo].[SpecificationMaterials] ([SpecificationMaterialId], [SpecificationId], [MaterialId], [Quantity], [Unit]) VALUES (1, 1, 1, CAST(0.020 AS Decimal(10, 3)), N'кг')
INSERT [dbo].[SpecificationMaterials] ([SpecificationMaterialId], [SpecificationId], [MaterialId], [Quantity], [Unit]) VALUES (2, 1, 2, CAST(0.020 AS Decimal(10, 3)), N'кг')
INSERT [dbo].[SpecificationMaterials] ([SpecificationMaterialId], [SpecificationId], [MaterialId], [Quantity], [Unit]) VALUES (3, 1, 3, CAST(0.150 AS Decimal(10, 3)), N'кг')
SET IDENTITY_INSERT [dbo].[SpecificationMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifications] ON 

INSERT [dbo].[Specifications] ([SpecificationId], [ProductId], [Quantity], [Unit], [ManufacturerId]) VALUES (1, 2, CAST(1.000 AS Decimal(10, 3)), N'шт', N'000000013')
INSERT [dbo].[Specifications] ([SpecificationId], [ProductId], [Quantity], [Unit], [ManufacturerId]) VALUES (2, 5, CAST(1.000 AS Decimal(10, 3)), N'шт', N'000000013')
INSERT [dbo].[Specifications] ([SpecificationId], [ProductId], [Quantity], [Unit], [ManufacturerId]) VALUES (3, 7, CAST(1.000 AS Decimal(10, 3)), N'шт', N'000000013')
SET IDENTITY_INSERT [dbo].[Specifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [Password], [Role], [IsBlocked], [FailedAttempts]) VALUES (1, N'admin', N'admin', N'Администратор', 0, 0)
INSERT [dbo].[Users] ([UserId], [Login], [Password], [Role], [IsBlocked], [FailedAttempts]) VALUES (2, N'user', N'user', N'Пользователь', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__5E55825B4773BF17]    Дата создания скрипта: 18.06.2026 22:59:18 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD FOREIGN KEY([CustomerOrderId])
REFERENCES [dbo].[CustomerOrders] ([CustomerOrderId])
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Counterparties] ([CounterpartyId])
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([ExecutorId])
REFERENCES [dbo].[Counterparties] ([CounterpartyId])
GO
ALTER TABLE [dbo].[SpecificationMaterials]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[SpecificationMaterials]  WITH CHECK ADD FOREIGN KEY([SpecificationId])
REFERENCES [dbo].[Specifications] ([SpecificationId])
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Counterparties] ([CounterpartyId])
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
